<div class="majestic-cup ">
  <h1 class="title">Majestic Cup</h1>

  <div class="container media-section mt-5">
    <div class="row justify-content-center gy-4">
      <div class="col-md-6 pe-4 ps-4">
        <div class="media-box border border-warning  bg-dark shadow">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/CqmFOV4QH88?si=2PHstK8vdvIJS0Nb"
              title="First to Challenger: la conquista de FlexQ"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-6 ps-4 pe-4">
        <div class="media-box border border-warning bg-dark shadow">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.twitch.tv/?channel=nissaxter&parent=localhost&autoplay=false" allowfullscreen
              scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="description text-center text-light ps-4 pe-4">
      <p>
          El First to Challenger es una batalla digna de Noxus, donde el respeto se gana a la fuerza. Desde el 9 de
          enero,
          equipos de hasta 6 jugadores tendrán que demostrar su fortaleza, ya sea con ingenio estratégico o pura
          habilidad implacable. 
      </p>
      <p class="fst-italic">
          ¿Quién demostrará que merece la cima y el respeto de Noxus?
      </p>
    </div>

    <div *ngFor="let team of teams" class="team-card container mt-4 border border-purple border-1 shadow-lg" (click)="goToTeamInfo(team.slug)">
      <img src="images/image.png" alt="Foto equipo" />
      <div class="team-name text-light fw-semibold fs-5">{{ team.name }}</div>
      <div class="team-victories d-flex align-items-center gap-1 fs-5 fw-semibold text-light">
        <span class="text-success">{{ team.victories }}</span>
        <span class="text-danger">/</span>
        <span class="text-danger">{{ team.losses }}</span>
      </div>
      <div class="team-winrate text-light fw-semibold fs-5 text-center">{{ team.winrate }}%</div>
    </div>

  </div>
</div>