

<div class="majestic-cup" style="background-image: url('bg5.png');">
    <h1 class="title">Majestic Cup</h1>
  
    <div class="media-section">
      <div class="media-box">
        <img src="image.png" alt="Video de YouTube">
      </div>
      <div class="media-box">
        <img src="image.png" alt="Stream de Twitch">
      </div>
    </div>
  
    <div class="description">
      <p>
        El First to Challenger es una batalla digna de Noxus, donde el respeto se gana a la fuerza. Desde el 9 de enero, equipos de hasta 6 jugadores tendrán que demostrar su fortaleza, ya sea con ingenio estratégico o pura habilidad implacable.
      </p>
    </div>
  
    <div class="team-data">
      <p>Datos de cada equipo</p>
    </div>
  </div>
  