.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 1rem 2rem;
    font-family: BeaufortforLOL-Heavy, sans-serif;

  
    .logo img {
      height: 60px; 
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .nav-links a {
      margin-left: 1.5rem;
      color: white;
      text-decoration: none;
      font-weight: 800;
      font-size: 1.0rem;

  
      &:hover {
        color: gold;
      }
  
      &.active {
        border-bottom: 2px solid gold;
      }
    }
  }
  