.main-div {
  overflow-x: hidden;
  margin-top: 0;
  width: 100%;
  height: 100vh;
  background-color: #efefef;
}

.section-divider {
  height: 15px;
  width: 90%;
  background: #ccc;
  opacity: 0.5;
  margin: 20px auto 20px auto;
  border-radius: 4px;
}


.team-title {
  font-family: 'League Gothic', serif;
  font-size: 5rem;
  font-weight: 400;
  color: #ffd700;
  text-shadow: 3px 3px #000;
}

.tournament-title {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: bolder;
  color: #ffd700;
  text-shadow: 3px 3px #000;
}

.hero-slot,
.selection-slot {
  width: 80px;
  height: 120px;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  margin: 5px;
  border-radius: 8px;
}

.banned-hero {
  width: 80px;
  height: 120px;
  border: 2px solid #88702a;
  background-color: #f8f9fa;
  margin: 5px;
  border-radius: 8px;
}

.hero-inner {
  opacity: 0;
  animation: fadeIn 1.0s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.wheel {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
}

.wheel-green {
  background-color: #28a745;
  color: white;
}

.wheel-green:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.wheel-red {
  background-color: #dc3545;
  color: white;
}

.wheel-red:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.wildcard-title {
  font-family: 'League Gothic', serif;
  font-size: 6rem;
  font-weight: 400;
  color: #ffd700;
  text-shadow: 3px 3px #000;
}

.mandaos-box {
  background: #ff69b4;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.mandaos-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.mandaos-icon {
  font-size: 2rem;
}

