<div class="main-div text-center">
  <div class="row mb-4">
    <div class="col">
      <h2 class="team-title">TEAM 1</h2>
    </div>
    <div class="col">
      <h1 class="tournament-title">MAJESTIC CUP</h1>
    </div>
    <div class="col">
      <h2 class="team-title">TEAM 2</h2>
    </div>
  </div>

  <div class="section-divider"></div>

  <div class="row mb-3 align-items-center">
    <div class="col d-flex flex-wrap justify-content-center">
      <div [ngClass]="bannedHeroes.length>0 ? 'banned-hero' : 'hero-slot'" *ngFor="let hero of firstBanned">
        <p *ngIf="bannedHeroes.length>0" class="hero-inner">{{hero.name}}</p>
      </div>
    </div>

    <div class="col-2">
      <div class="mandaos-box">
        <div class="mandaos-title">LOS 10 MANDAOS</div>
        <div class="mandaos-icon">😵</div>
      </div>
    </div>

    <div class="col d-flex  flex-wrap justify-content-center">
      <div [ngClass]="bannedHeroes.length>0 ? 'banned-hero' : 'hero-slot'" *ngFor="let hero of secondBanned">
        <p *ngIf="bannedHeroes.length>0" class="hero-inner">{{hero.name}}</p>
      </div>
    </div>
  </div>

  <div class="section-divider"></div>

  <div class="row text-center my-4">
    <div class="col-5 d-flex justify-content-center align-items-center flex-wrap">
      <div class="selection-slot"><div *ngIf="selectedHerosTeam1[0] != null">{{selectedHerosTeam1[0].name}}</div></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam1[1] != null">{{selectedHerosTeam1[1].name}}</div></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam1[2] != null">{{selectedHerosTeam1[2].name}}</div></div>
      <div class="selection-slot"></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam1[3] != null">{{selectedHerosTeam1[3].name}}</div></div>
    </div>

    <div class="col-2 d-flex align-items-center justify-content-center" (click)="openWheel()">
      <div class="wheel wheel-green">LA RULETA SELECCIONADORA</div>
    </div>

    <div class="col-5 d-flex justify-content-center align-items-center flex-wrap">
      <div class="selection-slot"><div *ngIf="selectedHerosTeam2[0] != null">{{selectedHerosTeam2[0].name}}</div></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam2[1] != null">{{selectedHerosTeam2[1].name}}</div></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam2[2] != null">{{selectedHerosTeam2[2].name}}</div></div>
      <div class="selection-slot"></div>
      <div class="selection-slot"><div *ngIf="selectedHerosTeam2[3] != null">{{selectedHerosTeam2[3].name}}</div></div>
    </div>

  </div>

  <div class="section-divider"></div>


  <div class="row justify-content-center my-4" (click)="getBannedHeroes()">
    <div class="wheel wheel-red col-3">LA RULETA CANCELADORA</div>
  </div>

  <div class="section-divider"></div>


  <div class="row justify-content-center">
    <h2 class="wildcard-title">COMODÍN</h2>
  </div>
</div>

<!--TODO Arreglar ruleta selección héroes-->
<div *ngIf="heroWheel" class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-3" (click)="closeWheel()">
  <div class="position-absolute top-50 start-50 w-75 h-75 translate-middle bg-white rounded p-4 shadow details slide-up"  (click)="$event.stopPropagation()">
    <app-hero-wheel (close)="onCloseWheel($event)"></app-hero-wheel>
  </div>
</div>


