<h1 class="title">Partidas</h1>

<div class="games-wrapper d-flex flex-wrap justify-content-center gap-3 px-2">
  <div *ngFor="let game of visibleGames" class="game-card p-3">
    <div class="d-flex justify-content-between align-items-center mb-2 text-light fw-bold text-center">
      <span class="w-50">Teams</span>
      <span class="w-50">Winner</span>
    </div>

    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column gap-1 w-50">
        <div class="d-flex align-items-center gap-2">
          <img
            [src]="enviroment.imageUrl + (game.equipo1.imagen ? getCleanImageUrl(game.equipo1.imagen) : '/images/image.png')"
            alt="Foto equipo" class="team-icon" />
          <span class="text-light small">{{ game.equipo1.nombre }}</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img
            [src]="enviroment.imageUrl + (game.equipo2.imagen ? getCleanImageUrl(game.equipo2.imagen) : '/images/image.png')"
            alt="Foto equipo" class="team-icon" />
          <span class="text-light small">{{ game.equipo2.nombre }}</span>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center w-50">
        <img [src]="getWinningTeamImage(game)" alt="Ganador" class="team-icon me-2" />
        <span class="text-light small">{{ game.ganador }}</span>
      </div>
    </div>

    <div class="d-flex justify-content-end small text-light opacity-75 mt-2 pe-1">
      {{ game.fecha | date: 'dd/MM/yyyy HH:mm' }}
    </div>
  </div>
</div>

<div class="text-center mt-4" *ngIf="games.length > gamesToShow">
  <button (click)="showMoreGames()" class="btn btn-warning">
    {{ showingAll ? 'Ver menos' : 'Ver más partidas' }}
  </button>
</div>

<h1 class="title">Estadísticas</h1>
<div class="match-section">
  <div *ngFor="let team of teams" class="team-card container mt-4 border border-purple border-1 shadow-lg"
    (click)="goToTeamInfo(team.slug)">
    <img [src]="enviroment.imageUrl + (team.imagen ? getCleanImageUrl(team.imagen) : '/images/image.png')"
      alt="Foto equipo" class="team-icon" />
    <div class="team-name text-light fw-semibold fs-5">{{ team.nombre }}</div>
    <div class="team-victories d-flex align-items-center gap-1 fs-5 fw-semibold text-light">
      <span class="text-success">{{ team.victorias }}</span>
      <span class="text-danger">/</span>
      <span class="text-danger">{{ team.derrotas }}</span>
    </div>
    <div class="team-winrate text-light fw-semibold fs-5 text-center">{{ team.winrate }}%</div>
  </div>
</div>