<h1 class="title">Estadísticas</h1>
<div *ngFor="let team of teams">
  <div *ngFor="let player of team.players" 
       class="container mt-3 p-3 rounded-4 border border-purple border-2 d-flex flex-row align-items-center gap-5 shadow-lg"
       style="background: linear-gradient(90deg, #0f1013 80%, #d4b93a 100%)">

    <img [src]="player.imageUrl" class="rounded-4 object-fit-cover" style="width: 72px; height: 72px;" />

    <div class="text-light fw-semibold fs-6 text-center pe-4" style="min-width: 120px;">
      <a *ngIf="player.twitchUrl; else plainNick" [href]="player.twitchUrl" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-white">
        {{ player.nickname }}
      </a>
      <ng-template #plainNick>{{ player.nickname }}</ng-template>
    </div>

    <div class="text-light fw-semibold fs-6 text-center pe-5" style="min-width: 150px;">
      {{ player.name }}
    </div>

    <div class="d-flex align-items-center gap-1 text-light fw-semibold fs-6 pe-5" style="min-width: 90px; justify-content: center;">
      <span class="text-success">{{ player.victories }}</span>
      <span>/</span>
      <span class="text-danger">{{ player.losses }}</span>
    </div>

    <div class="text-light fw-semibold fs-6 text-center pe-5" style="min-width: 80px;">
      {{ player.winrate }}%
    </div>

    <div class="d-flex gap-2 justify-content-center align-items-center" style="min-width: 140px;">
      <a *ngIf="player.kickUrl" [href]="player.kickUrl" target="_blank" rel="noopener noreferrer">
        <img class="social-icon" src="/images/kick.png" alt="Kick" />
      </a>
      <a *ngIf="player.twitchUrl" [href]="player.twitchUrl" target="_blank" rel="noopener noreferrer">
        <img class="social-icon" src="images/twitch.png" alt="Twitch" />
      </a>
      <a *ngIf="player.twitterUrl" [href]="player.twitterUrl" target="_blank" rel="noopener noreferrer">
        <img class="social-icon" src="/images/x.png" alt="Twitter" />
      </a>
      <a *ngIf="player.opggUrl" [href]="player.opggUrl" target="_blank" rel="noopener noreferrer">
        <img class="social-icon" src="images/opgg.png" alt="OPGG" />
      </a>
    </div>
  </div>
</div>
