<div class="hero-selector-container">
  <div class="heroes-grid">
    <div *ngFor="let hero of heroArray; let i = index" class="hero-card" [class.highlighted]="currentIndex === i" [class.selected]="selectedIndex === i">
      <div class="hero-content">
        <div class="hero-image">
          <img [src]="enviroment.imageUrl + hero.imagen" alt="{{hero.nombre}}">
        </div>
      </div>
    </div>
  </div>

</div>


<div  class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-3" *ngIf="!isSelecting">
    <button class="selection-button position-absolute top-50 start-50 translate-middle" (click)="startSelection()" *ngIf="!isSelecting">
      Seleccionar Héroe
    </button>
</div>
