<div class="hero-selector-container">
  <div class="heroes-grid">
    <div *ngFor="let hero of heroArray; let i = index" class="hero-card" [class.highlighted]="currentIndex === i" [class.selected]="selectedIndex === i">
      <div class="hero-content">
        <div class="hero-image">
          <img [src]="enviroment.imageUrl + hero.imagen" alt="{{hero.nombre}}">
        </div>
      </div>
    </div>
  </div>

  <button class="selection-button" (click)="startSelection()" [disabled]="isSelecting">
    Seleccionar Héroe
  </button>
</div>
