<h1 class="title">{{ team?.nombre }}</h1>

<div *ngIf="team">
  <div *ngFor="let player of players" class="player-card mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between gap-4 p-3 rounded-4 border border-white text-light shadow-lg w-100">

    <div class="d-flex align-items-center gap-3 flex-shrink-0" style="min-width: 150px;">
      <div class="fw-bold text-lg ">
        {{ player.nickname }}
      </div>
    </div>

    <p class="nickname text-light text-center text-md-start w-100 w-md-20 mb-0">{{ player.nombre }}</p>

    <div class="d-flex justify-content-center justify-content-md-end gap-3 w-100 w-md-15">
      <ng-container *ngFor="let red of player.red_social">
        <a [href]="red.link" target="_blank" rel="noopener noreferrer">
          <img [src]="red.red_icono" [alt]="red.red_nombre" class="social-icon" />
        </a>
      </ng-container>
    </div>

  </div>
</div>
